# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Data files and folders
*.cacheMap
*.tmp
*.csv
*.session
*.txt
*.npy
*._*
data/_features_processed/*
RNN/tf_logs/*
RNN/age_gender.py
RNN/3timeseries.py

Features/featurise.py
# Temporary files
Extra/